* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


body::before {
    background-image: url("img/code.png");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.container {
    width: 1200px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
}

.container__conteudo {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.container__informacoes {
    flex: 1;
    padding: 20px;
}
.container__acoes{
    margin: 0 auto;
    padding: 0 0 0 40%;
}

.container__botao {
    border-radius: 16px;
    background: #1875E8;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 16px;
}

.container__texto {
    margin: 16px 0 16px 0;
}

.container__texto-azul {
    color: #72b20c;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
}

h2,
p,
button {
    font-family: 'Chakra Petch', sans-serif;
}

h2 {
    font-size: 32px;
    font-weight: 400;
}
.campo-input {
    text-align-last: center;
}
.input-numero input{
    width: 250px;
    height: 30px;
}
.input-numero button{
    width: 70px;
    color: #01080E;
    height: 30px;
}

.btn-iniciar-game {
    width: 250px;
    height: 70px;
    font-size: 30px;
    border-radius: 15px;
    background-color: #1875E8;

}
.btn-iniciar-game:hover {
    background-color: #048b26;

}
.text_iniciar{
    text-align: center;
    margin-bottom: 8px;
}
.btn-enviar-resultado{
    width: 250px;
    height: 70px;
    font-size: 30px;
    border-radius: 15px;
    background-color: #1875E8;
    margin-top: 14px;
}
.input-numero{
    box-sizing: border-box;
    display: block;
    height: 64px;
    font-size: 36px;
    border-radius: 10px;
    color: #01080E;
    padding: 0;
    width: 250px;
    margin: 0 auto;
    text-align:center;
}
.input-numero[type=number]::-webkit-inner-spin-button, 
.input-numero[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  text-align:center;
  padding-left:10px;
  margin: 0; 
}
.info-iniciar-game{
    margin-left: 15px;
}